{% extends "base/main.html"%}
{% load static %}

{% block content %}
<html>
    <body>
        
    <div id = "home">
        <div id = "main">
            <p style="font-size: 55px; text-align: center; font-weight: bold; color: rgb(1, 43, 53);">
                Welcome to Medmer</p>
        <h1 style="color: rgb(1, 43, 53); text-align: center;" > Press this button incase of emergency </h1>
        <div class="wrapper">
            <div class="square">
                <a href={%url 'request_help'%}><button class="btn btn-primary btn-lg" 
                style="padding:15px 15px; background-color: red; margin-left: 75px;
                margin-top:18px; border: solid transparent;" >
                    I need Help</button></a>
            </div>
        
            </div>
        <div class="wrapper_2">
            <div class="square_1">
                <a href={%url 'help_requests'%}><button class="btn btn-primary btn-lg" style="padding:15px 15px; background-color: rgb(0, 154, 201); margin-left: 75px;
                margin-top:18px; border: solid transparent;" >I want to help</button></a>
            </div>
        </div>
        <section class="fwh-slide">
            <div class="container">
                <p class=info style="font-weight: bolder; font-size:80px; justify-content: left; padding:25px;">
                    We are here to get you the help that you need when you need it ?
                </p>
        </div>
        </section>
       
        </div>
    </div>
 </body>
</html>
{% endblock content %}
