{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <h2>Tell us what's wrong</h2>
    <div class="container">
    <form method="post" class=""> 
       {% csrf_token %}
       {{form.errors}}
       <div class="form-row">
        <div class="form-group col mb-0">
            {{ form.patient_notes|as_crispy_field }}
        </div>
       </div>
       <div class="form-row">
        <div class="form-group col mb-0">
            {{ form.patient_location|as_crispy_field }}
        </div>
        </div>
        
        <button class="btn btn-success" type="submit" >Submit</button>

    </form>
</div>
    
</div>

{%endblock content%}
