{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="form-group">
    <form method="post" class="uniForm" style="padding-left: 150px;"> 
       {% csrf_token %}
       <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.patient_notes|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.patient_location|as_crispy_field }}
        </div>

        <button class="btn btn-success" type="submit" >Submit</button>

    </form>
</div>
</div>

{%endblock content%}
