* {
    margin: 0;
    padding: 0;
}
html, body {
    background-color:rgb(245, 236, 220);
    height:100%;
    margin: 0;
    padding: 0;
}
/* navigation bar */ 
nav a {
    font-size: 1.4em;
    display: inline-flex;

    text-decoration: none;
}
.dropdown-menu{
    background-color:rgb(3, 72, 145);
}
a.dropdown-item{
   color:rgb(119, 119, 167)

}
a.dropdown-item:hover{
transition: 0.3s;  
background-color: rgb(72, 197, 235);

}
a.nav-link:hover {
    transition: 0.3s;  
    color: rgb(45, 45, 59);

}
#footer {
  position:fixed;
  bottom:0;
  background-color: rgb(0, 112, 146);
  color:white;
  text-align: center;
  width:100%;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 300px;
  color:white;
} 
.wrapper_2 {
margin-right: auto;
margin-left: auto;
padding-top: 25px;
max-width: 960px;
padding-right: 15px;
padding-left: 300px;
color:white;
}
.square {
height: 100px;
width: 250px;
background-color: #fff;
border:solid rgb(0, 154, 201);
border-radius:5px;
}
.square_1 {
height: 100px;
width: 250px;
background-color: #fff;
border:solid rgb(0, 154, 201);
border-radius:5px;
}

form {
    border: solid rgb(72, 197, 235);
    border-radius: 10px;
    padding-top: 20px;
    border-width:2px;
    padding:15px 100px;
    max-width:600px;
    margin:auto
    
}
h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size:60px;
  justify-content: center;
  text-align: center;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(79, 79, 79); 
    display:block; 
    text-align: center;
    font-size:2.5em;
    padding-top: 10px;
}
h3 {
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: rgb(79, 79, 79);
    font-size:2em;
}
   
.navbar-brand{
   
    padding:5px 10px;
    font-size:2.5em ;
}

.navbar{
    background-color: rgb(3, 72, 145);
}

.navbar a{
    color: whitesmoke !important;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
.about_section {
    padding: 50px;
    text-align: center;
    background-color: whitesmoke;
    color:black;
  }
  .container {
    margin-top: 30px;
    padding: 0 10px;
    margin-left: 50px;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column {
    float: left;
    width: 100.0%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  html {
    box-sizing: border-box;
  }
  #home {
    min-height: 200%;
  }
  #main {
    overflow: auto;
    padding-bottom:100px;
  }
  .fwh-slide {
    background:rgb(255, 229, 123);
  }
  .fwh-slide .container .info {
    color: rgb(41, 137, 228);
    text-shadow: 0 4px 8px rgba(0, 0 , 0 , 0.2);
  }
  img{
    margin: auto;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
 }

  

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
