<!DOCTYPE html>
{% extends "base/main.html"%}
{% load crispy_forms_tags %}
<head>
    <html lang="en">
        <style>
        </style>
    </head>
    <body>
        {% block content %}
            <div className="base-container" ref={this.props.containerRef}>
                <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: beige;">
                    We want to be there in your hour of need</h2>
                <h3 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: beige;"> 
                    Register with us</h3>
            <div class="container">
                <div class="form-group">
                 <table>
                <form method="post" class="uniForm">
                    {% csrf_token %}
                    {{ form|crispy }}
                </table>
                <button class="btn btn-success" type="submit" >Submit</button>
                </form>
             </div>
        </div>
    </div>
             {% endblock content %}
     </body>
 </html>
