<script>
/* function to open and close the menu */
function openNav() {
    document.getElementById("sidebar").style.width="250px";
    document.getElementById("main").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("sidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    
}

/* aid in the help page*/
var myVar;

function myFunction() {
    myVar  = setTimeout(showPage, 3000);
}

function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
}
</script>